CONFIG = dict(
    # database settings (see https://docs.sqlalchemy.org/en/14/core/engines.html#postgresql)
    DSN='postgresql://postgres:password@localhost:5432/postgres',

    # enable features specific to development
    DEV_MODE=True,

    # frontend domain
    DOMAIN='localhost:8080',

    # directory that will contain downloaded sprites, must be served by the web server as static content
    SPRITES_DIRECTORY='../sprites',

    # used by scheduled.py to send e-mail on error, set to None if you want to use cron files to import data
    EMAIL='contact@example.com',

    # Savy PSS API urls
    MAIN_PIXELSTARSHIPS_API_URL="https://api.pixelstarships.com/",
    BACKUP_PIXELSTARSHIPS_API_URL="https://api2.pixelstarships.com/",

    # maximum of changes to be returned by PixyShip API and displayed in front
    CHANGES_MAX_ASSETS=5000,

    # generated with `python -c 'import os; print(os.urandom(16))'`
    # it's just an example... change it!
    SECRET_KEY=b'b.\xadP\xfc\xc3V\xb7\x19\x9f\xf5T\xb5Cd\xe6'
)
