alembic==1.6.2
appnope==0.1.2
attrs==21.2.0
backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
click==8.0.0
contexttimer==0.3.3
decorator==5.0.7
Flask==2.0.0
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
idna==2.5
iniconfig==1.1.1
ipython-genutils==0.2.0
itsdangerous==2.0.0
jedi==0.18.0
Jinja2==3.0.0
Mako==1.1.4
MarkupSafe==2.0.0
matplotlib-inline==0.1.2
packaging==20.9
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.18
psycopg2-binary==2.8.6
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.7.0
Pygments==2.9.0
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
python-editor==1.0.4
requests==2.25.1
schedule==1.1.0
six==1.16.0
SQLAlchemy==1.4.15
toml==0.10.2
traitlets==5.0.5
urllib3==1.26.4
uWSGI==2.0.19.1
wcwidth==0.2.5
Werkzeug==2.0.0
