.common, .common a {
  color: white
}

.elite, .elite a {
  color: #1be600
}

.unique, .unique a {
  color: #5baeff
}

.epic, .epic a {
  color: #d18dff
}

.hero, .hero a {
  color: #ff8b16
}

.special, .special a {
  color: #fefc89;
}

.legendary, .legendary a {
  color: #d5aa2a
}