.common, .common a {
  color: white
}

.elite, .elite a {
  color: #1be600
}

.unique, .unique a {
  color: #0785ff
}

.epic, .epic a {
  color: #ba54ff
}

.hero, .hero a {
  color: #ff8000
}

.special, .special a {
  color: #fefc89;
}

.legendary, .legendary a {
  color: #d5aa2a
}
